h2{
    position: relative;
    margin:20px 0 0;
    font-size:4em;
    font-weight: 900;
    z-index: 1;

    color: rgb(52, 243, 250);
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(255, 0, 0),
      0 0 82px rgb(51, 255, 0),
      0 0 92px rgb(0, 17, 255),
      0 0 102px rgb(255, 0, 212),
      0 0 151px rgb(255, 251, 0);
}